Gen_Python.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <processType>AutoLaunchedFlow</processType>    
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Gen_Python {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Gen] Python</label>    
    <status>Active</status>

    <variables>
        <name>recordId_Acc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>001dM000002F6C8QAK</stringValue>
        </value>
    </variables>
    <variables>
        <name>varS_Rating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>

    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>cur_Acc</targetReference>
        </connector>
    </start>

    <assignments>
        <name>set_IsPriorityRecord</name>
        <label>set IsPriorityRecord</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>c.IsPriorityRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>c</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Rating_Cold</name>
        <label>set Rating Cold</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varS_Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_Rating_Hot</name>
        <label>set Rating Hot</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varS_Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rst_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Rating_Warm</name>
        <label>set Rating Warm</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varS_Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rst_Contact</targetReference>
        </connector>
    </assignments>
    
    <decisions>
        <name>cek_Karyawan</name>
        <label>cek Karyawan</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>set_Rating_Cold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>Big_Size</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cur_Acc.NumberOfEmployees</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Rating_Hot</targetReference>
            </connector>
            <label>Big Size</label>
        </rules>
        <rules>
            <name>Small_Size</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cur_Acc.NumberOfEmployees</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Rating_Warm</targetReference>
            </connector>
            <label>Small Size</label>
        </rules>
    </decisions>

    <loops>
        <name>c</name>
        <label>c</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <collectionReference>rst_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_IsPriorityRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>save_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>

    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>

    <recordCreates>
        <name>upsert_Account</name>
        <label>upsert Account</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Jimmy</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Jimmy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>cur_Acc.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <recordLookups>
        <name>cur_Acc</name>
        <label>cur Acc</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cek_Karyawan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Acc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rst_Contact</name>
        <label>rst Contact</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>c</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cur_Acc.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordUpdates>
        <name>save_Account</name>
        <label>save Account</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>upsert_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Acc</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <stringValue>Medan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>varS_Rating</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>save_Contact</name>
        <label>save Contact</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>save_Account</targetReference>
        </connector>
        <inputReference>rst_Contact</inputReference>
    </recordUpdates>


</Flow>
